name: Integration Tests

on:
  push:
    branches: [ master, main, develop, feature/*, release/* ]

jobs:
  runTests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          submodules: true

      - name: JDK
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165
        with:
          java-version: 25
          distribution: 'temurin'

      - name: Run Tests
        env:
          CI_GITHUB_ACCESS_TOKEN: ${{ secrets.CI_GITHUB_ACCESS_TOKEN }}
        run: ./run-ci.sh
